.admin {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(45, 27, 105);
  color: #fff;
}

a {
  color: #fff;
}

.admin > nav {
  padding-right: 2rem;
}

.admin > nav h1 {
  padding-left: 20px;
}

.admin > main {
  flex: 1;
  border-left: solid 1px #ccc;
  padding-left: 2rem;
}

em {
  color: red;
}
