.index-page {
  
}

h1 {
  text-align: center;
  font-size: 48px;
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  padding: 0 40px;
  height: 60px;
  line-height: 60px;
}

header .left a {
  font-size: 24px;
  color: #fff;
}

header .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .right a {
  display: flex;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

main a {
  display: block;
  border-radius: 8px;
  background-color: rgb(51, 60, 77, 0.2);
  color: #fff;
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
}

main a:nth-child(2) {
  margin-left: 16px;
  background-color: rgb(51, 60, 77);
}

main {
  padding-top: 200px;
}